nav{
    background-color: white;
    height: 70px;
    border-bottom: 1px solid black;

}
body{
    height: 2000px;
}
.navrs{
    display: flex;
    justify-content: space-between;
    width: 500px;
    height: 50px;
    position: relative;
    top: -35px;
    left: 170px;
}
.con{
    width: 400px;
    display: flex;
    justify-content: space-between;
}
.search{
    border: 1px solid black;
    height: 40px;
    width: 400px;
}
.searchbox{
    height: 40px;
    width: 40px;
    background-color: blue;
    padding: 9px;
    padding-left: 10px;
    border: 1px solid black;
}
.navls{
    display: flex;
    justify-content: space-between;
    width: 400px;
    height: 50px;
    position: relative;
    top: -75px;
    left: 790px;
}
.con1{
    width: 100%;
    height: 100px;
    background-color: rgb(214, 237, 246);
    padding-top: 35px;
}
.con2{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}
.con3{
    width: 500px;
    height: 500px;
    padding: 20px;
}
h1{
    font-size: 90px;
}
.conb{
    height: 50px;
    font-size: 20px;
    width: 150px;
}
h4{
    text-align: center;
    width: 100%;
    height: 100px;
    margin-top: 40px;
}